<settings>
  <category label="Media4u TV Settings">
    <setting id="use_paid_login" type="bool" label="Use Paid Login" default="false" />
    <setting id="username" type="text" label="Username" default="" />
    <setting id="password" type="text" label="Password" option="hidden" default="" />
    <setting id="show_account_status" type="bool" label="Show account type on main menu" default="true" />
    <setting id="first_run_done" type="bool" default="false" visible="false" />
  </category>
</settings>
