<settings>
  <category label="IPTV Settings">

    <setting id="use_paid_login" type="bool" label="Use Paid Login (enter your own details)" default="false" />
    <setting id="username" type="text" label="Username (paid login only)" />
    <setting id="password" type="text" label="Password (paid login only)" option="hidden" />

    <setting id="show_account_status" type="bool" label="Show account type (Free or Paid) on main menu" default="true" />

    <setting id="first_run_done" type="bool" default="false" visible="false" />

  </category>
</settings>
